body {
	/*background: #000;*/
}
.info {}
.data-info {
	border: 1px solid #ccc;
	padding: 10px;
	/*position: absolute;*/
	background: rgba(0,0,0, .8);
	color: #fff;
	border-spacing: 0;
	margin-bottom: 20px;
}

.data-info_cell {
	padding: 5px 20px;
}


.data-table__info {
	position: absolute;
	left: 0;
	top: 0;
	padding: 10px;
	background: rgba(0,0,0,.4);
	color: #fff;
	/*display: none;*/
}

.menu-wrap {
	display: block;;
	width: 350px;
	float: right;
	background: #191b1b;
	padding: 15px 15px 10px 15px;
	color: #fff;
}

.menu-section {
	display: block;
	width: 100%;
	margin-bottom: 20px;
}
.menu-section:last-child {
	margin-bottom: 0;
}
.section-list {
	display: grid;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	list-style-type: none;
	grid-template-columns: 1fr 1fr;
}

.s-list__block {
	margin-bottom: 20px;
	padding-right: 10px;
}
.s-list__block:nth-child(2n) {
	padding-right: 0;
	padding-left: 10px;
}

.s-list__block span {
	margin-bottom: 10px;
	display: block;
}
.s-list__block input[type="text"] {
	width: 100%;
	height: 30px;
	border-radius: 8px;
	border: none;
	outline-style: none;
	padding: 0 10px;
}

.add_ship {
	width: 100%;
	display: block;
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 10px 15px;
	outline-style: none;
	border: none;
	background: #3b7173;
	border-radius: 8px;
	color: #fff;
	cursor: pointer;
}


